<h1>Eat da Burger!</h1>

<h2>Burgers to Eat</h2>
<ul>
  {{#each burgers}}
  {{!-- not devoured (left side) want the burgers not devoured to show --}}
    {{#unless this.devoured}}
        {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Eaten</h2>
<ul>
  {{#each burgers}}
    {{#if this.devoured}}
        {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<br>

<h3>Add a Burger</h3>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="brgr" name="burger_name">
  </div>

  <button type="submit">Submit</button>

  <br>

  <p>Enter a burger you want to eat Click the "Submit" button.</p>
</form>
