<li>
	{{this.burger_name}}

	{{#if this.devoured}}
	<button class="change-devoured" data-id="{{this.id}}" data-newdevoured="0">
		Reset
	</button>
	{{else}}
		<button class="change-devoured" data-id="{{this.id}}" data-newdevoured="1">
			Devour It!
		</button>
	{{/if}}

</li>